body{
    background: #27496D;
}
#barra-superior{
    background: #142850;    
}
#return-icon {
    color: white;
    float: left;
}
h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.btAdmin{
    background: #0C7B93;
    border-radius: 100%;
    border-color: #27496D;
    color: azure;
    font-style: normal;
    width: 300px;
    height: 300px;
    font-size: 40px;
    padding: 50px;
    margin: 50px;
}

#container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

th{
    color: azure;
    background-color: #142850;
}

td{
    color: azure;
}