body {
    background-color: #2C003E;
}

#barra-superior {
    background-color: #FE346E;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 50px;
}

#return-icon {
    color: white;
    float: left;
    margin-top: 5px;
}

#btperfil {
    float: right;
    border-radius: 50px;
    border: none;
    background-color: #FE346E;
    outline: none;
}

#perfil-option{
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

#container {
    padding: 30px;
}

#container-tablero {
    width: 100%;
}

#tGenerarReporte {
    background-color: #FE346E;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#inputGroup{
    background-color: #2C003E;
    color: #FE346E;
    border-color: #FE346E ;
    width: 50%;
    margin-left: 200px;
    float: right;
}
#table-Actividades {
    border: none;
    margin-top: 20px;
}

thead {
    background-color: #52195C;
    color: white;
    font-weight: bold;
}

tbody {
    background-color: #512B58;
    color: white;
}

  