body {
    background-color: #2C003E;
}

#barra-superior {
    background-color: #FE346E;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 50px;
}

#return-icon {
    color: white;
    float: left;
    margin-top: 5px;
}

#btperfil {
    float: right;
    border-radius: 50px;
    border: none;
    background-color: #FE346E;
    outline: none;
}

#perfil-option{
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

#container {
    background-color: red;
    padding: 30px;
}


#container-tablero {
    background-color: yellow;
    width: 100%;
}

